@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

html, body {
    cursor: default;
}

body.no-scroll {
    overflow: hidden;
}

a, button, .cursor-pointer {
    cursor: pointer;
}

textarea::placeholder {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-slideIn {
    animation: slideIn 0.3s ease-out;
}